<div class="intro">
	<h1 class="intro-name">Jameson Knoll</h1>
</div>

<style type="text/css">body {overflow:hidden;}</style>
<script type="text/javascript">$</script>

<div class="container-fluid">	
	<div class="row">
		<div class="col-md-2">
			<%= link_to image_tag('profile.jpg'), '#', class: "thumbnail img-circle" %>
			</img>
			<div class="social-icons">
			<p>
				<a href="https://twitter.com/jamesonknoll"><%= image_tag('twitter_alt.png')%> Twitter</a>
			</p>
			<p>
				<a href="https://github.com/jmknoll"><%= image_tag('github_alt.png')%> Github</a>
			</p>
			<p>
				<a href="https://cn.linkedin.com/in/jamesonknoll"><%= image_tag('linkedin_alt.png')%> LinkedIn</a>
			</p>
			</div>
		</div>
		<div class="col-md-10">
			<div class="main-image">
			</div>
			<article class="main-article">
				<h2>Welcome</h2>
				<p>Thanks for visiting my site. I'm Jameson Knoll, a web developer and designer currently based in Shanghai, China.</p>
					<p>This site contains my writing on tech, design, education, economics, and any variety of other subjects, as well as a few pieces of mobile/web development I've done.</p>
				<p>Feel free to take a look around. Click on the <a href="#" class="burger">&#9776</a> to get started, or scroll down for my blog and/or portfolio pieces.</p>
				<p>Of course, feel free to send me an <a href="mailto:jameson.knoll@gmail.com">email</a> with questions or feedback.</p>
				</br>
				<p>Note: I've just recently redesigned the site in accordance with Google's <a href="http://www.google.com/design/spec/material-design/introduction.html">Material Design</a> philosophy.</p>
				<p>This is a work in progress, so portions of the site are still under construction. Thank you for your patience during this transition.</p>
			</article>
		</div>
	</div>
	

<div class="main-content">

	<div class="row">
		<h2>Blog</h2>
		<div class="col-md-12">
		</div>
	</div>

	<div class="row">
		<h2>Portfolio</h2>
		<div class="col-md-4">
			<p>Ruby on Rails</p>
			<%= link_to image_tag("rails_logo.png"), portfolio_path, class: "thumbnail" %>
		</div>
		<div class="col-md-4">
			<p>JavaScript</p>
			<%= link_to image_tag("javascript_logo.png"), portfolio_path, class: "thumbnail" %>
		</div>
		<div class="col-md-4">
			<p>Wordpress</p>
			<%= link_to image_tag("wordpress_logo.png"), portfolio_path, class: "thumbnail" %>
    		</a>
		</div>
	</div>
</div>
</div>


