<nav class="navbar navbar-inverse navbar-static">
	<div class="container-fluid">
		<a href="#" class="burger">&#9776</a>
		<h1>Jameson Knoll</h1>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-8 off-vp-nav">
			<div class="btn-group-vertical">
				<h2 id="icon">JMKNOLL</h2>
				<div class="main-links">
					<%= link_to "Home", root_path, class: "btn btn-default" %>
					<%= link_to "Portfolio", portfolio_path, class: "btn btn-default" %>
					<%= link_to "Blog", root_path, class: "btn btn-default" %>
					<%= link_to "Writing", root_path, class: "btn btn-default" %>
					<%= link_to "Research", root_path, class: "btn btn-default" %>
				</div>
				<div class="social-links">
				<%= link_to "Twitter", root_path, class: "btn btn-default" %>
				<%= link_to "Github", root_path, class: "btn btn-default" %>
				<%= link_to "LinkedIn", root_path, class: "btn btn-default" %>
				</div>
			</div>
		</div>
	</div>
</div>